/* common */
html {
  width: 100%;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  margin: 0;
  font-family: Arial, Helvetica, cursive, sans-serif;
}

h1, h2, p {
  font-weight: normal;
  margin: 0;
}

h1 {
  font-size: 64px;
}

a {
  text-decoration: none;
}

img {
  vertical-align: bottom;
}

section h1 {
  color: rgba(89, 86, 86, 0.819);
}

ul {
  list-style: none;
}

.line {
  letter-spacing: -5px;
  margin-right: 15px;
}

.container {
  /* outline: 2px solid black; */
  width: 800px;
  margin: 0 auto;
}





/* header */
header {
  text-align: center;
  background-color: #eee;
  padding: 40px 0px 0px;
}

header .container {
  /* outline: 2px solid black; */
  /* width: 800px; */
  margin: 0 auto;
}


header h1 {
  font-size: 40px;
  margin-bottom: 32px;
}

header nav {
  /* background: skyblue; */
  display: flex;
  justify-content: center;
}

header a {
  font-size: 24px;
  margin: 0px 80px;
}

header a:hover {
  opacity: .6;
  transition: .3s;
}


/* main */

/* main .bg-img {
  background-image: url(../img/bg_img.png);
  background-size: contain;
  background-repeat: no-repeat;
} */

.title-text {
  /* background: yellow; */
  width: 400px;
  padding: 350px 0;
  margin: 0 auto;
}

.title-text span {
  margin-left: 150px;
  line-height: 3;
}



/* profile */

.profile img {
  border-radius: 50%;
}

.profile-box {
  /* border: 2px solid silver; */
  border-top: 2px solid silver;
  border-bottom: 2px solid silver;
  border-radius: 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 16px;
  margin-top: 64px;
  margin-bottom: 200px;
}

.profile-pic {
  text-align: center;
  width: 40%;
}


.profile li:first-of-type {
  margin-top: 32px; 
}

.profile li + li {
  margin-top: 16px;
}

.profile-text {
  width: 60%;
  font-size: 16px;
}

.profile-text p {
  line-height: 1.8;
}

.profile-text p + p {
  margin: 16px 0 0 ;
}



/* skill */


.skill-box {
  margin-top: 64px;
  margin-bottom: 200px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: space-between;
}

.skill-item {
  /* background: silver; */
  border-top: 2px solid silver;
  border-bottom: 2px solid silver;
  /* border: 2px solid silver; */
  border-radius: 5%;
  text-align: center;
  width: 30%;
  height: 350px;
}

.skill-item h2 {
  margin: 32px 0;
}

.skill-item p {
  text-align-last: left;
  margin: 0 24px;
  line-height: 1.8;
}



/* works */

.works-box {
  background: #efefef;
  /* border-top: 2px solid silver;
  border-bottom: 2px solid silver; */
  display: flex;
  align-items: center;
  padding: 64px 0 ;
  margin-top: 64px;
  margin-bottom: 200px;
  text-align: center;
}

.works-item1 li + li {
  margin-top: 40px;
}

.works-item2 {
  /* display: block; */
  /* background: lime; */
  margin: 0 auto;
}

.works-box h2 {
  margin: 8px 0;
}

.works-box p {
  line-height: 3;
  letter-spacing: 3px;
}



/* contact */

.contact-box {
  /* border: 2px solid silver; */
  border-top: 2px solid silver;
  border-bottom: 2px solid silver;
  border-radius: 5%;
  padding: 32px 16px;
  margin-top: 64px;
  margin-bottom: 120px;
}

.contact-pic {
  display: flex;
  justify-content: center;
}

i {
  font-size: 40px;
  margin: 32px 10%;
}

i:hover {
  opacity: .5;
  transition: .3s;
  cursor: pointer;
}

.contact-text p {
  text-align: center;
  line-height: 3;
}



/* footer */

footer {
  height: 100px;
  background: #efefef;
  text-align: center;
  font-size: 18px;
  padding-top: 80px;
  /* padding-top: 40px; */
}



/*mediaquery*/

@media (max-width: 800px) {
  /* header */

  header {
    width: 100%;
  }

  header nav {
    width: 80%;
    margin: 0 auto;
  }

  header nav a {
    margin: 0 8%;
  }

  
  /* title */

  .title-text {
    display: block;
    text-align: center;
    padding: 300px 0;
  }

  .title-text span {
    margin: 0;
  }


  /* profile */

  h1 {
    font-size: 40px;
  }

  .container {
    width: 85%;
  }

  .profile-box {
    display: block;
    width: 80%;
    margin: 64px auto 200px;
  }

  .profile-box ul {
    margin: 24px 0;
  }

  .profile-box li + li {
    margin: 16px 0;
  }

  .profile-pic {
    width: 100%;
  }

  .profile-text {
    width: 100%;
  }



  /* skill */

  .skill-box {
    display: block;
    width: 80%;
    margin: 64px auto 200px;
  }

  .skill-item {
    width: 100%;
    height: 300px;
    margin-bottom: 64px;
  }


  /* works */

  .works-box {
    display: block;
    width: 100%;
    padding: 40px 0;
  }

  .works-box ul {
    margin-right: 40px;
    margin-bottom: 40px;
  }

  .works-box h2, p {
    margin-bottom: 24px;
    letter-spacing: 0;
  }
}
